<div class="row">
    <div class="col">
            <div class="card card-mtpe">
                <div class="card-header bg-light d-sm-flex justify-content-between p-1">
                    <h5><small class="ml-3">Envió de Notificaciones - Verificación de Expedientes</small></h5>
                    <h5 class="mb-0"><small>Paso 2 de 3</small></h5>
                </div>
                <div class="card-body">
                    <div class="defensa mb-2">
                        <div class="form-notificacion" *ngFor="let expediente of expedientes">
                            <div class="form-row mb-3">
                                <div class="col-lg-12">
                                        <h4>Expediente N° {{expediente.vNumexp}}</h4>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group row">
                                        <label for="inpTipo" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Tipo de Notificación</label>
                                        <div class="col-sm-7">
                                            <p-dropdown name="tipoNotificacion" [options]="tipoNotificacion" [(ngModel)]="selectedTNotificacion" placeholder="Seleccione el Tipo de Notificación"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group row">
                                        <label for="inpNumero" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Tipo de Envió</label>
                                        <div class="col-sm-5">
                                            <p-dropdown name="tipoEnvio" [options]="tipoEnvio" [(ngModel)]="selectedTEnvio" placeholder="Seleccione el Tipo de Envió"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group row">
                                        <label for="inpNumero" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">N° de Folios</label>
                                        <div class="col-sm-5">
                                            <input type="number" class="form-control form-control-sm" id="inpNumero" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row mb-3">
                                <div class="col-md-12">
                                    <p-dataTable [value]="expediente.trabajadorDireccion" dataKey="direc.id">
                                        <p-header>Direcciones del Trabajador</p-header>
                                        <p-column [style]="{'width':'75px', 'text-align':'center'}" header="Notificar" field="idmotpase">
                                            <ng-template let-data="rowData" pTemplate="body">
                                                <p-checkbox name="data.direc.nFlgnotifi" [(ngModel)]="data.direc.nFlgnotifi" binary="true" ></p-checkbox>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="dpto" header="Departamento"></p-column>
                                        <p-column field="prov" header="Provincia"></p-column>
                                        <p-column field="dist" header="Distrito"></p-column>
                                        <p-column field="direc.vDircomple" header="Dirección"></p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <div class="col-md-12">
                                    <p-dataTable [value]="expediente.empleadorDireccion"  dataKey="direc.id">
                                        <p-header>Direcciones del Empleador</p-header>
                                        <p-column [style]="{'width':'75px', 'text-align':'center'}" header="Notificar" field="idmotpase">
                                            <ng-template let-data="rowData" pTemplate="body">
                                                <p-checkbox name="data.direc.nFlgnotifi" [(ngModel)]="data.direc.nFlgnotifi" binary="true" ></p-checkbox>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="dpto" header="Departamento"></p-column>
                                        <p-column field="prov" header="Provincia"></p-column>
                                        <p-column field="dist" header="Distrito"></p-column>
                                        <p-column field="direc.vDircomple" header="Dirección"></p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>