<p-blockUI [blocked]="block"></p-blockUI>
<div *ngIf="formPerfil&&solicitud" class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
  <div class="row">
    <div class="col">
      <h4 class="title">Perfil del Empleador</h4>
    </div>
  </div>
  <div class="form-row mb-2">
    <div class="col-md-4">
      <div class="form-group row">
        <label for="inpRuc" class="col-sm-3 col-form-label col-form-label-sm text-right">RUC</label>
        <div class="col-sm-9">
          <input type="text" disabled  class="form-control form-control-sm" [(ngModel)]="solicitud.vRucsol">
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group row">
        <label for="inpRsocial" class="col-sm-3 col-form-label col-form-label-sm text-right" value="1047792455654">Razón Social</label>
        <div class="col-sm-9">
          <input type="text" disabled  class="form-control form-control-sm" id="inpRsocial" [(ngModel)]="solicitud.vEmpleador">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-panel box-shadow mb-3">
        <div class="card-body">
          <div class="row no-gutters y-steps">
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Datos Generales I</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil2()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-database" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Datos Generales II</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil3()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Negociación Colectiva (NVC)</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step active">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" (click)="irPerfil4()" class="btn-y">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Resultado de Ultimas NC</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" class="btn-y btn-y-disabled">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Responsables de Información</p>
              </div>
            </div>
            <div class="col d-flex justify-content-center y-step">
              <div class="y-progress">
                <div class="y-progress-line"></div>
              </div>
              <div class="y-content">
                <a [routerLink]="" class="btn-y btn-y-disabled">
                  <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                  </div>
                </a>
                <p class="text-center mb-0">Anexo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-mtpe mb-3">
        <div class="card-header bg-light d-sm-flex justify-content-between p-1">
          <h5 class="mb-0">
            <small>
              <i class="fa fa-user" aria-hidden="true"></i> Unidades de Negocio o Organismos Adscritos</small>
          </h5>
        </div>
        <div class="card-body">
          <p class="mb-0">Resultados de las negociaciones colectivas finalizadas</p>
          <p class="mb-0">Principales reajustes de mayor impacto otorgados por cada trabajador (s/)</p>
          <a style="color:white" (click)="showResultado()" class="btn btn-sm btn-dark mb-2" data-toggle="modal" data-target="#accionariaModal">
            <i class="fa fa-plus" aria-hidden="true"></i> Agregar otro</a>
          <table class="table table-responsive table-hover table-striped">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Aumento General</th>
                <th>Clausula de Salvaguarda o Adicional</th>
                <th>Gratificación por Cierre de Pliego</th>
                <th>Alimentación</th>
                <th>Movilidad</th>
                <th>Opción</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let resultado of resultadoNegociaciones; let i = index">
                <tr>
                  <td>{{resultado.tFecreneg | date:'dd/MM/yyyy'}}</td>
                  <td>{{resultado.nAumento | number : '1.2-2'}}</td>
                  <td>{{resultado.nClausula | number : '1.2-2'}}</td>
                  <td>{{resultado.nGratifica | number : '1.2-2'}}</td>
                  <td>{{resultado.nAlimentac | number : '1.2-2'}}</td>
                  <td>{{resultado.nMovilidad | number : '1.2-2'}}</td>
                  <td class="text-center">
                    <a (click)="editarResultado(resultado)" class="btn btn-sm btn-warning">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a (click)="eliminarResultado(resultado)" class="btn btn-sm btn-danger">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="row">
            <div class="col-12 text-sm-right">
              <a [routerLink]="" (click)="irPerfil3()" class="btn btn-sm m-1 btn-success">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
              <a [routerLink]=""  (click)="mostrarGuardar()" class="btn btn-sm m-1 btn-secondary">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
              <a [routerLink]="" (click)="irPerfil5()" class="btn btn-sm m-1 btn-success">
                <i class="fa fa-chevron-right" aria-hidden="true"></i> Siguiente</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Dialog de Resultado de Negociaciones-->
<p-dialog [(visible)]="displayResultado" modal="modal" width="800" [responsive]="true">
  <p-header>
    Agregar/Editar Resultado de Negociación
  </p-header>
  <p>
    <div class="row" style="margin-right:0px!important">
      <div class="col-lg-7">
        <div class="form-group">
          <label for="fecha" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Fecha</label>
          <div class="col-sm-5" style="display:inline-block">
            <input type="date" class="form-control form-control-sm" id="fecha" [(ngModel)]="resultadoRegistro.tFecreneg">
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="form-group row">
          <label for="aumento" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Aumento General</label>
          <div class="col-sm-5">
            <input type="number" decimal min="0" max="100" class="form-control form-control-sm" id="aumento" [(ngModel)]="resultadoRegistro.nAumento">
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row" style="margin-right:0px!important">
      <div class="col-lg-7">
        <div class="form-group row">
          <label for="clausula" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Clausula de Salvaguarda o Adicional</label>
          <div class="col-sm-5">
            <input type="number" decimal min="0" max="100" [(ngModel)]="resultadoRegistro.nClausula" class="form-control form-control-sm"
              id="clausula">
          </div>
        </div>
      </div>
      <div class="col-lg-5">
          <div class="form-group row">
            <label for="alimentacion" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Alimentación</label>
            <div class="col-sm-5">
              <input type="number" decimal min="0" max="100" [(ngModel)]="resultadoRegistro.nAlimentac" class="form-control form-control-sm"
                id="alimentacion">
            </div>
          </div>
        </div>
    </div>
    <div class="row" style="margin-right:0px!important">
        <div class="col-lg-7">
            <div class="form-group row">
              <label for="gratificacion" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Gratificación por Cierre de Pliego</label>
              <div class="col-sm-5">
                <input type="number" decimal min="0" max="100" [(ngModel)]="resultadoRegistro.nGratifica" class="form-control form-control-sm"
                  id="gratificacion">
              </div>
            </div>
          </div>
      
      <div class="col-lg-5">
        <div class="form-group row">
          <label for="movilidad" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Movilidad</label>
          <div class="col-sm-5">
            <input type="number" decimal min="0" max="100" [(ngModel)]="resultadoRegistro.nMovilidad" class="form-control form-control-sm"
              id="movilidad">
          </div>
        </div>
      </div>
    </div>
  </p>
  <p-messages [(value)]="messagesForm"></p-messages>
  <p-footer>
    <a style="color:white" class="btn btn-sm btn-danger" (click)="cancelarResultado()">
      <i class="fa fa-ban" aria-hidden="true"></i> Cancelar</a>
    <a class="btn btn-sm btn-warning" (click)="guardarResultado()">
      <i class="fa fa-plus" aria-hidden="true"></i> Guardar</a>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayGuardar" modal="modal" width="500" [responsive]="true">
  <p-header>
    Guardar
  </p-header>
  <p>¿Desea guardar los datos del formulario perfil?</p>
  <p-messages [(value)]="messagesForm"></p-messages>
  <p-footer>
    <button type="button" icon="fa-check" (click)="displayGuardar = false">Cancelar</button>
    <button type="submit" icon="fa-close" (click)="guardarFormularioPerfil()">Guardar</button>
  </p-footer>
</p-dialog>