
<div class="row">
	<div class="col">
		<div class="card card-mtpe mb-3">
			<div class="card-header bg-light d-sm-flex justify-content-between p-1">
				<h5 class="mb-0"><small><i class="fa fa-user" aria-hidden="true"></i> Registro de Atención del Trabajador</small></h5>
			</div>
			<div class="card-body">
				<div class="consultas-laborales mb-2">
					<form>
						<div class="form-row mb-2">
							<div class="col-md">
							<div class="form-group row">
								<label for="inpTicket" class="col-sm-3 col-form-label">Ticket</label>
								<div class="col-sm-9">
								<input type="text" class="form-control form-control-sm" id="inpTicket" name="atencion.vNumticket" [(ngModel)]="atencion.vNumticket" placeholder="">
								</div>
							</div>
							</div>
							<div class="col-md">
							<div class="form-group row">
								<label for="inpLocal" class="col-sm-3 col-form-label">Local</label>
								<div class="col-sm-9">
								<input type="text" class="form-control form-control-sm" id="inpLocal" value="LIMA CENTRO" readonly>
								</div>
							</div>
							</div>
							<div class="col-md">
							<div class="form-group row">
								<label for="inpFecha" class="col-sm-3 col-form-label">Fecha</label>
								<div class="col-sm-9">
									<!-- <input type="date" class="form-control form-control-sm" id="inpFecha" [(ngModel)]="fechoy"> -->
									<!-- <input type="date" class="form-control form-control-sm" id="inpFecha"> -->
									<p style="padding-top: 5px;"><span ng-non-bindable>{{ fechoy | date: 'dd/MM/yyyy' }}</span></p>
								</div>
							</div>
							</div>
						</div>
					</form>
					<div class="card">
						<div class="card-header bg-secondary text-white d-sm-flex justify-content-between p-1">
							<h6 class="mb-0"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> Datos del Empleador</h6>
						</div>
						<div class="card-body">
						<form>
							<div class="form-row">
								<div class="col-lg-5 ">
									<div class="form-group row">
										<label for="inpTipo" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Tipo de documentos</label>
										<div class="col-sm-6">
											<p-dropdown [options]="tipodocs" name="selectedTipodoc" [(ngModel)]="selectedTipodoc" [style]="{'width':'140px'}" placeholder="Seleccione"
											optionLabel="vDescorta" dataKey="id" (onChange)="changeTipdocident()"></p-dropdown>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="form-group row">
										<label for="inpNumero" class="col-sm-4 col-form-label col-form-label-sm text-sm-right">Número</label>
										<div class="col-sm-8">
											<!-- <input type="number" class="form-control form-control-sm" id="inpNumero" name="vNumdocumento" [(ngModel)]="vNumdocumento"> -->
											<input type="text" class="form-control form-control-sm" id="inpNumero" name="vNumdocumento" [(ngModel)]="vNumdocumento" [maxlength]="maxlengthDocIdent">
										</div>
									</div>
								</div>
								<div class="col-md">
									<div class="form-group row">
									<div class="col-sm-9">
										<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" (click)="buscaEmpleadorByDocIdent()">
												<span></span>&nbsp;<span><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</span>
										</button>
									</div>
									</div>
								</div>
							</div>
						</form>
						<hr>
						<form>
							<div class="row">
							<div class="col-md-9 mb-3">
								<div *ngIf="tippersona==='1'">
									<label for="inpN">Razón Social:</label>
								</div>
								<div *ngIf="tippersona==='0'">
									<label for="inpN">Empleador:</label>
								</div>
								<input type="text" class="form-control form-control-sm" id="inpFN" name="vRazsocial" [(ngModel)]="vRazsocial" style="text-transform: uppercase">
							</div>
							</div>
							<div class="row" *ngIf="tippersona==='1'">
									<div class="col-md-9 mb-3">
										<label for="inpN">Nombre Comercial:</label>
										<input type="text" class="form-control form-control-sm" id="inpFN" name="vNomalter" [(ngModel)]="vNomalter" style="text-transform: uppercase">
									</div>
								</div>
							<div class="row">
							<div class="col-md-6 mb-3">
								<!-- <p-dataTable [value]="dirperjuri" [scrollable]="true" scrollHeight="100px" selectionMode="single" [(selection)]="selecDirper"  (onRowSelect)="onRowSelect($event)" dataKey="direc.id"> -->
									<p-dataTable [value]="dirper" [scrollable]="true" scrollHeight="100px" selectionMode="single" [(selection)]="selecDirper"  (onRowSelect)="onRowSelect($event)" dataKey="direc.id">
									<p-header>Direcciones</p-header>
									<p-column [style]="{'width':'35px', 'text-align':'center'}" header="#">
										<ng-template let-i="rowIndex" pTemplate="body">
											<span style="text-align:center">{{i+1}}</span>
										</ng-template>
									</p-column>
									<p-column field="dpto" header="Depto."></p-column>
									<p-column field="prov" header="Provincia"></p-column>
									<p-column field="dist" header="Distrito"></p-column>
									<p-column field="direc.vDircomple" [style]="{'text-align':'left'}" header="Dirección"></p-column>
									<p-column header="Notificar">
										<ng-template let-data="rowData" pTemplate="body">
											<span style="text-align:center">{{ (data.direc.nFlgnotifi===false)?'':'SI' }}</span>
										</ng-template>
									</p-column>
									<p-column header=" " [style]="{'width':'40px', 'text-align':'center'}">
										<ng-template let-h="rowData" pTemplate="body">
												<button class="ui-button-info" type="button"  pButton (click)="showDialogToAction(2)" icon="fa-edit" label=" " title="Editar"></button>
										</ng-template>
									</p-column>
									<p-column header=" " [style]="{'width':'40px', 'text-align':'center'}">        
										<ng-template let-h="rowData" pTemplate="body">
												<button class="ui-button-danger" type="button"  pButton (click)="showDialogToAction(3)" icon="fa-remove" label=" " title="Eliminar"></button>
												<!-- <button pButton class="ui-button-danger" icon="fa-trash-o" type="button" (click)="delete()" label="Eliminar"></button> -->
										</ng-template>
									</p-column>
									<ng-template pTemplate="emptymessage">
											No se han encontrado registros
									</ng-template>
									<p-footer>
										<div class="ui-helper-clearfix" style="width:100%">
											<button *ngIf="isVisible" type="button" class="btn btn-sm btn-primary" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Añadir Dirección"></button>
										</div>
									</p-footer>
								</p-dataTable>
								<p-dialog [width]="500" header="Dirección:" [closable]="false" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
									<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
									<div class="ui-grid ui-grid-responsive ui-fluid" style="height:200px;">
										<input type="hidden" class="form-control" name="dirper.id" [(ngModel)]="dirper.id" readonly />
										<input type="hidden" name="dirper.f" [(ngModel)]="dirper.perjuridica">
										<div class="ui-grid-row form-group">
											<div class="ui-grid-col-4"><label for="vin">Departamento</label></div>
											<div class="ui-grid-col-8">
												<select (change)="loadProvincias(true, $event.target.value)" required class="form-control" id="field_codDepto" name="dirper.nCoddepto" [(ngModel)]="dirper.nCoddepto" >
													<option value="{{departamentos.vCoddep | number:'1.0'}}" *ngFor="let departamentos of departs;">{{departamentos.vDesdep}}</option>
												</select>
												<!-- <p-dropdown [(ngModel)]="dirper.nCoddepto" name="dirper.nCoddepto" [style]="{'width':'150px'}" dataKey="dirper.vcoddep" optionLabel="vdesdep" [options]="departs"></p-dropdown> -->
											</div>
										</div>
										<div class="ui-grid-row form-group">
											<div class="ui-grid-col-4"><label for="year">Provincia</label></div>
											<div class="ui-grid-col-8">
												<select (change)="loadDistritos(true, $event.target.value)" required class="form-control" id="field_codDepto" name="dirper.nCodprov" [(ngModel)]="dirper.nCodprov" >
													<option value="{{provincias.vCodpro | number:'1.0'}}" *ngFor="let provincias of provins;">{{provincias.vDespro}}</option>
												</select>
												<!-- <p-dropdown [(ngModel)]="dirper.nCodprov" name="dirper.nCodprov" [style]="{'width':'150px'}" dataKey="vcodpro" optionLabel="vdespro" [options]="provins"></p-dropdown> -->
											</div>
										</div>
										<div class="ui-grid-row form-group">
											<div class="ui-grid-col-4"><label for="year">Distrito</label></div>
											<div class="ui-grid-col-8">
												<select required class="form-control" id="field_codDepto" name="dirper.nCoddist" [(ngModel)]="dirper.nCoddist" >
													<option value="{{distritos.vCoddis | number:'1.0'}}" *ngFor="let distritos of distris;">{{distritos.vDesdis}}</option>
												</select>
												<!-- <p-dropdown [(ngModel)]="dirper.nCoddist" name="dirper.nCoddist" [style]="{'width':'150px'}" dataKey="dirper.vcoddis" optionLabel="vdesdis" [options]="distris"></p-dropdown> -->
											</div>
										</div>
										<div class="ui-grid-row form-group">
												<div class="ui-grid-col-4"><label for="year">Dirección</label></div>
												<div class="ui-grid-col-8"><input type="text" name="dirper.vDircomple" [(ngModel)]="dirper.vDircomple" class="form-control"  id="direccion" /></div>
										</div>
									</div>
									<p-footer>
										<div class="ui-dialog-buttonpane ui-helper-clearfix">
											<button pButton class="ui-button-info" icon="fa-close" type="button" (click)="close()" label="Cancelar"></button>
											<button *ngIf="accion === 3" pButton class="ui-button-danger" icon="fa-trash-o" type="button" (click)="delete()" label="Eliminar"></button>
											<button *ngIf="accion !== 3" pButton class="ui-button-success" icon="fa-save" type="submit" label="Grabar"></button>
										</div>
									</p-footer>
									</form>
								</p-dialog>
							</div>
							<div class="col-md-6 mb-3">
								<div class="row">
								<div class="col mb-3">
									<label for="inpCorreo">Correo Electrónico:</label>
									<!-- <input type="text" class="form-control form-control-sm" id="inpCorreo" name="vEmailper" [(ngModel)]="empleador.perjuridica.vEmailper"> -->
									<input type="text" class="form-control form-control-sm" id="inpCorreo" name="vEmailper" [(ngModel)]="vEmailper">
								</div>
								</div>
								<div class="row">
								<div class="col-md-6 mb-3">
									<label for="inpTel">Teléfono:</label>
									<!-- <input type="text" class="form-control form-control-sm" id="inpTel" name="vTelefono" [(ngModel)]="empleador.perjuridica.vTelefono"> -->
									<input type="text" class="form-control form-control-sm" id="inpTel" name="vTelefono" [(ngModel)]="vTelefono">
								</div>
								<div class="col-md-6 mb-3">
									<div *ngIf="tippersona==='1'">
										<label for="inpFox">Fax:</label>
									</div>
									<div *ngIf="tippersona==='0'">
										<label for="inpFox">Celular:</label>
									</div>
									<input type="text" class="form-control form-control-sm" id="inpFox" name="vFaxperju" [(ngModel)]="vCeluFax">
								</div>
								</div>
							</div>
							</div>
						</form>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
</div>