<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 py-2">
    <div class="row">
       <div class="col" style="text-align:center;">
           <h5 class="title">FORMULARIO Nº 1</h5>
           <h5 class="title">ESTADO DE RESULTADOS(*)</h5>
           <h6 class="title">(Soles)</h6>
       </div>
    </div>
    <div class="row">
       <div class="col">
        <div class="card card-mtpe mb-3">	
           <div class="card-body">
                <p>INGRESOS POR INTERESES</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td class="concepto">Concepto</td>
                       <td>2014</td>
                       <td>2015</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                   <tr>
                       <td class="concepto">Disponible</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Fondos Interbancarios</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr><tr>
                       <td class="concepto">Inversiones a Valor Razonable con Cambios en Resultados</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Inversiones Disponibles para la venta</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Inversiones a Vencimiento</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Cartera de Créditos Directos</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Resultado por Operaciones de Cobertura</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Cuentas por Cobrar</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Otros Ingresos Financieros</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">TOTAL DE INGRESOS POR INTERESES</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                <p>GASTOS POR INTERESES</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td class="concepto">Concepto</td>
                       <td>2014</td>
                       <td>2015</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                    <tr>
                       <td class="concepto">Obligaciones con el Público</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Fondos Interbancarios</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Depósitos de Empresas del Sistema Financiero y Organismos Financieros Internacionales</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Adeudos y Obligaciones Financieras</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Diferencia de Cambio</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Cuentas por pagar</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Resultado por Operaciones de Cobertura </td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Otros Gastos Financieros</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>							 
                    <tr>
                       <td class="concepto"><strong>TOTAL GASTOS POR INTERESES</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto"><strong>MARGEN FINANCIERO BRUTO</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                
                <p class="col">PROVISIONES PARA CRÉDITOS DIRECTOS (1)
                <a href="#" class="btn btn-sm btn-dark" style="float:right;"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a></p>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td class="dinamico">Concepto</td>
                       <td>2014</td>
                       <td>2015</td>
                       <td>2016</td>
                       <td>2017</td>
                       <td></td>
                   </tr>
               </thead>
                   <tbody>
                    <tr style="height:28px;">
                       <td class="dinamico"></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td style="text-align: center;width: 10%">
                    <a href="" class="btn btn-sm btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="" class="btn btn-sm btn-danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                   </td>
                    </tr>
                    <tr>
                       <td class="dinamico"><strong>TOTAL PROVISIONES PARA CRÉDITOS DIRECTOS</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td style="text-align: center;width: 10%"></td>
                    </tr>
                   </tbody>
                </table>

                   <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto"><strong>MARGEN FINANCIERO BRUTO</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                
                <p>INGRESOS POR SERVICIOS FINANCIEROS</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td class="concepto">Concepto</td>
                       <td>2014</td>
                       <td>2015</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                    <tr>
                       <td class="concepto">Ingresos por Créditos Indirectos</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Ingresos por Fideicomisos y Comisiones de Confianza</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Ingresos por Emisión de Dinero Electrónico</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Ingresos Diversos</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto"><strong>TOTAL INGRESOS POR SERVICIOS FINANCIEROS</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                
                <p>GASTOS POR SERVICIOS FINANCIEROS</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td class="concepto">Concepto</td>
                       <td>2014</td>
                       <td>2015</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                    <tr>
                       <td class="concepto">Gastos por Créditos indirectos</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Gastos por Fideicomisos y Comisiones de Confianza</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Primas al Fondo Seguro de Depósito</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Gastos Diversos</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto"><strong>TOTAL GASTOS POR SERVICIOS FINANCIEROS</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto"><strong>MARGEN FINANCIERO NETO DE INGRESOS Y GASTOS POR SERVICIOS FINANCIEROS</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                
               <table class="table table-responsive table-bordered table-hover cabecera">
               <thead>
                   <tr>
                       <td class="concepto">Concepto</td>
                       <td>2014</td>
                       <td>2015</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                    <tr>
                       <td class="concepto"><strong>RESULTADO POR OPERACIONES FINANCIERAS (ROF)</strong></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto"><strong>MARGEN OPERACIONAL</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                
                <p>GASTOS DE ADMINISTRACIÓN</p>
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td class="concepto">Concepto</td>
                       <td>2014</td>
                       <td>2015</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                    <tr>
                       <td class="concepto">Personal</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Directorio</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Servicios Recibidos de Terceros</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto">Impuestos y Contribuciones</td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                    <tr>
                       <td class="concepto"><strong>TOTAL GASTOS DE ADMINISTRACIÓN</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
               <thead>
                   <tr>
                       <td class="concepto">Concepto</td>
                       <td>2014</td>
                       <td>2015</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                    <tr>
                       <td class="concepto"><strong>DEPRECIACIONES Y AMORTIZACIONES</strong></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto"><strong>MARGEN OPERACIONAL NETO</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
               <thead>
                   <tr>
                       <td class="concepto">Concepto</td>
                       <td>2014</td>
                       <td>2015</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                    <tr>
                       <td class="concepto"><strong>VALUACIÓN DE ACTIVOS Y PROVISIONES</strong></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto"><strong>RESULTADO DE OPERACIÓN</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                
                
                <p class="col">OTROS INGRESOS (1)
                <a href="#" class="btn btn-sm btn-dark" style="float:right;"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a></p>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td class="dinamico">Concepto</td>
                       <td>2014</td>
                       <td>2015</td>
                       <td>2016</td>
                       <td>2017</td>
                       <td></td>
                   </tr>
               </thead>
                   <tbody>
                    <tr style="height:28px;">
                       <td class="dinamico"></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td style="text-align: center;width: 10%">
                    <a href="" class="btn btn-sm btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="" class="btn btn-sm btn-danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                   </td>
                    </tr>
                    <tr>
                       <td class="dinamico"><strong>TOTAL OTROS INGRESOS</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td style="text-align: center;width: 10%"></td>
                    </tr>
                   </tbody>
                </table>
                
                
                <p class="col">OTROS GASTOS (1)
                <a href="#" class="btn btn-sm btn-dark" style="float:right;"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Otro</a></p>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
                <thead>
                   <tr>
                       <td class="dinamico">Concepto</td>
                       <td>2014</td>
                       <td>2015</td>
                       <td>2016</td>
                       <td>2017</td>
                       <td></td>
                   </tr>
               </thead>
                   <tbody>
                    <tr style="height:28px;">
                       <td class="dinamico"></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td style="text-align: center;width: 10%">
                    <a href="" class="btn btn-sm btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="" class="btn btn-sm btn-danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                   </td>
                    </tr>
                    <tr>
                       <td class="dinamico"><strong>TOTAL OTROS GASTOS</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td style="text-align: center;width: 10%"></td>
                    </tr>
                   </tbody>
                </table>
                
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto"><strong>TOTAL OTROS INGRESOS Y OTROS GASTOS</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto"><strong>RESULTADO ANTES DE IMPUESTO A LA RENTA</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover cabecera">
               <thead>
                   <tr>
                       <td class="concepto">Concepto</td>
                       <td>2014</td>
                       <td>2015</td>
                       <td>2016</td>
                       <td>2017</td>
                   </tr>
               </thead>
                   <tbody>
                    <tr>
                       <td class="concepto"><strong>IMPUESTO A LA RENTA</strong></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                       <td><input type="text" class="form-control form-control-sm text-lg-right" name="" id="" value="0.00"></td>
                    </tr>
                   </tbody>
                </table>
                
                <table class="table table-responsive table-bordered table-hover">
                   <tbody>
                    <tr>
                       <td class="concepto"><strong>RESULTADO NETO DEL EJERCICIO</strong></td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                       <td class="text-right" style="padding-right: 20px!important;">0.00</td>
                    </tr>
                   </tbody>
                </table>
                
                <div style="font-size:9pt;">
                <p>INSTRUCCIONES:<br/>
                   (1) Desagregar las cuentas solicitadas. Insertar más filas de ser necesario.<br/>
                   - La información de la columna A, B y C corresponde a los resultados financieros correspondientes a los tres últimos años.<br/>
                   - La columna D contiene información preliminar hasta el último periodo mensual declarado a la SUNAT (PDT 621) del ejercicio vigente (especificar mes y año).<br/>
                   - La columna A,B,C se debe llenar con la información de la Declaración Jurada Pago Anual Impuesto a la Renta Tercera Categoría presentada a la SUNAT o a la Superintendencia de Banca y Seguros (SBS) o a la institución donde presentan la información.<br/>
                </p>
                </div>
               </div>
        </div>
        <div class="row">
            <div class="col-12 text-sm-right">
                <a (click)="verControlInformacion()" class="btn btn-sm m-1 btn-success">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i> Regresar</a>
                <a (click)="guardarFormulario()" class="btn btn-sm m-1 btn-secondary">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</a>
            </div>
        </div>
       </div>
    </div>
   </div>