<div class="content-wrapper right-col col-12 col-sm-12 col-md-12 col-lg-12 p-2">
    <div class="row">
        <div class="col">
            <h4 class="title">Registros de atención</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-panel mb-3">
                <div class="card-body">
                    <div class="row no-gutters y-steps">
                        <div class="col d-flex justify-content-center y-step active">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="registro-atencion.html" class="btn-y">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">Datos del trabajador</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0"><small>Busca y completa los datos del empleador que viene a consultar</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="registro-atencion2.html" class="btn-y btn-y-disabled">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-database" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">Datos del Empleador</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0"><small>Ingreso los principales datos del empleador del trabajador en cuestion</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center y-step">
                            <div class="y-progress">
                                <div class="y-progress-line"></div>
                            </div>
                            <div class="y-content">
                                <a href="registro-atencion3.html" class="btn-y btn-y-disabled">
                                    <div class="y-content-circle m-auto d-flex justify-content-center align-items-center">
                                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p class="text-center mb-0">Datos laborales</p>
                                <div class="y-content-descrip">
                                    <p class="text-muted text-center mb-0"><small>Detalla los vínculos laborales que existen entre el empleador y el trabajador</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-light d-sm-flex justify-content-between p-2">
                    <h5 class="mb-0"><small><i class="fa fa-user-plus px-2" aria-hidden="true"></i> Registro de atención</small></h5>
                    <h5 class="mb-0"><small>Paso 1 de 3</small></h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="formBusquedaTrabajador" (ngSubmit)="buscarTrabajador(formBusquedaTrabajador)" novalidate="novalidate">
                        <div class="form-row" formGroupName="documento">
                            <div class="col-lg-5">
                                <div class="form-group row" [ngClass]="{'has-danger': !formBusquedaTrabajador.controls['documento'].controls['tipDoc'].valid && formBusquedaTrabajador.get('documento.tipDoc').touched}">
                                    <label for="inpTipo" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Tipo de documento</label>
                                    <div class="col-sm-7">
                                        <select class="form-control form-control-sm" id="inpTipo" formControlName="tipDoc" ngModel name="tipDoc" (change)="cambioComboBusquedaTrabajador(formBusquedaTrabajador)">
                                          <option value="">Seleccione un Documento</option>
                                          <option *ngFor="let tipDoc of listaTipdocident" [value]="tipDoc.id">{{tipDoc.vDescorta}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div *ngIf="formBusquedaTrabajador.get('documento.tipDoc').errors?.required && formBusquedaTrabajador.get('documento.tipDoc').touched" class="alert alert-danger form-control-sm" role="alert">
                                  Requerido el tipo de documento.
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group row" [ngClass]="{'has-danger': !formBusquedaTrabajador.controls['documento'].controls['numDoc'].valid && formBusquedaTrabajador.get('documento.numDoc').touched}">
                                    <label for="inpNumero" class="col-sm-5 col-form-label col-form-label-sm text-sm-right">Número</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control form-control-sm" id="inpNumero" placeholder="" formControlName="numDoc" (change)="cambioInputBusquedaTrabajador(formBusquedaTrabajador)">
                                    </div>
                                </div>
                                <div *ngIf="formBusquedaTrabajador.get('documento.numDoc').errors?.required && formBusquedaTrabajador.get('documento.numDoc').touched" class="alert alert-danger form-control-sm" role="alert">
                                  Requerido el numero de documento.
                                </div>
                                <div *ngIf="formBusquedaTrabajador.get('documento.numDoc').errors?.pattern && formBusquedaTrabajador.get('documento.numDoc').touched" class="alert alert-danger form-control-sm" role="alert">
                                  El campo debe ser numerico.
                                </div>
                                <div *ngIf="formBusquedaTrabajador.get('documento.numDoc').errors?.minlength && formBusquedaTrabajador.get('documento.numDoc').touched" class="alert alert-danger form-control-sm" role="alert">
                                  Debe tener como minimo {{formBusquedaTrabajador.get('documento.numDoc').errors.minlength.requiredLength}} digitos.
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                      <button [disabled]="!formBusquedaTrabajador.valid" type="submit" class="btn btn-sm btn-secondary"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form *ngIf="showFormularioDatosTrabajador == true" [formGroup]="formDatosTrabajador" (ngSubmit)="btnSiguiente(formDatosTrabajador)">
                        <div class="row">
                            <div class="col-md-2 mb-2">
                                <label for="inpAP" class="col-form-label col-form-label-sm">Apellido Paterno:</label>
                                <input type="text" class="form-control form-control-sm" id="inpAP" formControlName="apePat" placeholder="" value="">
                            </div>
                            <div class="col-md-2 mb-2">
                                <label for="inpAM" class="col-form-label col-form-label-sm">Apellido Materno:</label>
                                <input type="text" class="form-control form-control-sm" id="inpAM" formControlName="apeMat" placeholder="" value="">
                            </div>
                            <div class="col-md-3 mb-2">
                                <label for="inpN" class="col-form-label col-form-label-sm">Nombres:</label>
                                <input type="text" class="form-control form-control-sm" id="inpN" formControlName="nombres" placeholder="" value="">
                            </div>
                            <div class="col-md-2 mb-2">
                                <label for="inpN" class="col-form-label col-form-label-sm">Sucesion Intestada:</label>
                                <div class="col-sm-7 col-md-7">
                                    <div class="input-group">
                                        <!--input type="hidden" name="toggle" [(ngModel)]="binding"-->
                                        <div id="radioBtn" class="btn-group">
                                            <a class="btn btn-dark btn-sm active" data-toggle="happy" data-title="Y">SI</a>
                                            <a class="btn btn-dark btn-sm notActive" data-toggle="happy" data-title="N">NO</a>
                                        </div>
                                        <input type="hidden" name="happy" id="happy">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="showImputTextNumPartidaSucesion == true" class="col-md-3 mb-2">
                                <label for="inpPartida" class="col-form-label col-form-label-sm">N° Partida de Sucesión Intersada:</label>
                                <input type="text" class="form-control form-control-sm" id="inpPartida" formControlName="numPartSuc" placeholder="" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 mb-2">
                                <label for="inpFec" class="col-form-label col-form-label-sm">Fecha de Nacimiento:</label>
                                <p-calendar [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"  formControlName="fecNac" showIcon="true"></p-calendar>
                                <!--input type="text" class="form-control form-control-sm" id="inpFec" formControlName="fecNac" placeholder="" value=""-->
                            </div>
                            <div class="col-md-2 mb-2">
                                <label for="selectSexo" class="col-form-label col-form-label-sm">Sexo:</label>
                                <select class="form-control form-control-sm" id="selectSexo" formControlName="sexo">
                                  <option>M</option>
                                  <option>F</option>
                                </select>
                            </div>
                            <div class="col-md-3 mb-2">
                            </div>
                            <div class="col-md-5 mb-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="inpTele" class="col-form-label col-form-label-sm">Telefono:</label>
                                        <input type="text" class="form-control form-control-sm" id="inpTele" formControlName="numTel" placeholder="" value="">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inpCel" class="col-form-label col-form-label-sm">Celular:</label>
                                        <input type="text" class="form-control form-control-sm" id="inpCel" formControlName="numCel" placeholder="" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-7">
                                <label for="" class="col-form-label col-form-label-sm">Direcciones:</label>
                                <table class="table table-responsive table-striped table-hover table-hover">
                                    <thead>
                                        <tr>
                                            <th>Departamento</th>
                                            <th>Provincia</th>
                                            <th>Distrito</th>
                                            <th>Dirección</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--tr>
                                            <td>Lima</td>
                                            <td>Lima</td>
                                            <td>Puente Piedra</td>
                                            <td>Mz. D Lt 18 Urb la Capitana</td>
                                            <td>
                                                <a href="#" class="text-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="#" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lima</td>
                                            <td>Lima</td>
                                            <td>Jesus Maria</td>
                                            <td>Av. Salaverry</td>
                                            <td>
                                                <a href="#" class="text-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="#" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td>
                                        </tr-->
                                    </tbody>
                                </table>
                                <a href="#" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#regDirec"><i class="fa fa-plus" aria-hidden="true"></i> Añadir Dirección</a>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col mb-2">
                                        <label for="inpCorreo" class="col-form-label col-form-label-sm">Correo Eléctronico:</label>
                                        <input type="text" class="form-control form-control-sm" id="inpCorreo" formControlName="email" placeholder="" value="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="selectDisca" class="col-form-label col-form-label-sm">Presenta Discapacidad:</label>
                                        <select class="form-control form-control-sm" id="selectDisca" formControlName="sexo">
                                          <option>Ninguno</option>
                                          <option>...</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="selectEmba" class="col-form-label col-form-label-sm">Presenta Embarazo:</label>
                                        <select class="form-control form-control-sm" id="selectEmba" formControlName="embarazo">
                                          <option>No</option>
                                          <option>Si</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-sm-right">
                                <a href="#" class="btn btn-sm m-1 btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Terminar atención</a>
                                <a href="#" class="btn btn-sm m-1 btn-warning"><i class="fa fa-exchange" aria-hidden="true"></i> Generar pase</a>
                                <!--a [routerLink]="['/liquidaciones/registro-atencion/empleador']" class="btn btn-sm m-1 btn-success"><i class="fa fa-chevron-right" aria-hidden="true"></i> Siguiente</a-->
                                <button type="submit" class="btn btn-sm m-1 btn-success">
                                  <span class="fa fa-chevron-right" aria-hidden="true"></span>&nbsp;
                                  <span>Siguiente</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet name="popupexp"></router-outlet>
